[submodule "dnscrypt-proxy_config_generator"]
	path = dnscrypt-proxy_config_generator
	url = https://github.com/possiblynaught/dnscrypt-proxy_config_generator.git
[submodule "install_minisign"]
	path = install_minisign
	url = https://github.com/possiblynaught/install_minisign.git
[submodule "minimal_dnsleaktest"]
	path = minimal_dnsleaktest
	url = https://github.com/possiblynaught/minimal_dnsleaktest.git
